html {
  box-sizing: border-box;
  background: rgb(245, 214, 214);
  font-family: Raleway, sans-serif;
}

body {
  margin: 0;
}


.back {
  padding: 5%;
  background: white;
  max-width: 70em;
  margin: 3% auto;
  box-shadow: 1em 1em 0 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

#id_post_input_text {
  width: 50%;
  height: 3rem;
  padding: 0.2em;
  margin: 0.2em 0 0.6em;
  font-size: 1.2em;
}

.comment_input_text {
  width: 30%;
  height: 2rem;
  padding: 0.2em;
  margin: 0.2em 0 0.6em;
  font-size: 1.2em;
}

.comment_div {
  margin-top: 20px;
  margin-left: 40px;
}

.comment_profile {
  font-size: 18px;
}


.comment_text {
  font-size: 18px;
  font-family: "Times New Roman"
}

.comment_date_time {
  font-size: 18px;
  font-style: italic;
}


input[type="submit"] {
  background: salmon;
  border: none;
  margin: 1em 0;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
}

.post {
  background: blanchedalmond;
  padding: 0.5em;
  margin: 0.5em 0;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
}

.post_text {
  font-size: 24px;
  font-family: "Times New Roman"
}


.post_profile {
  font-size: 18px;
}


.post_date_time {
  font-size: 18px;
  font-style: italic;
}
