<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'socialnetwork/global.css' %}">
    <script src="{% static 'socialnetwork/global.js' %}" type="text/javascript"></script>
    <title>Blog Master</title>
  </head>
  <body>
    {% include './nav.html' %}   
    {% block content %}
    <div class="back">
      <h1 id="id_page_name">Global Stream</h1>
      <div>                      
          <label>New Post:</label>
          <input type="text" name="post_text" id="id_post_input_text" />
          <input type="submit" value="post" id="id_post_button" onclick="addPost()" />
          
      </div>

    <span id="error" class="error"></span>
    <!-- post 1 --> 
    <div id="post-container">
      <!-- post and comment section            -->
    </div>
    {% csrf_token %}      
    {% endblock %}
    <script>
      // Call getPost() as soon as page is finished loading to display the Post
      window.onload = getPost;      
      // call getList every 5 seconds hereafter to update the list
      window.setInterval(getPost, 5000);
      
    </script>
  </body>
  

</html>
