<html>
  <head>
    <title>Blog Master</title>
    <link rel="stylesheet" href="/static/socialnetwork/global.css" />
  </head>
  <body>
    {% include './nav.html' %}
    <div class="back">
      <h1 id="id_page_name">Follower Stream</h1>      
        

      <div class="post" id="id_post_div_n">
        <p>
          <span id="id_post_profile_n">who: </span>
          <span id="id_post_text_n">This is the post</span>
        </p>
        <p id="id_post_date_time_n">8/25/2021 12:10 PM</p>
      </div>

      <div id="id_comment_div_k">        
        <span id="id_comment_profile_k">who: </span>
        <span id="id_comment_text_k">This is comment</span>        
        <span id="id_comment_date_time_k">8/25/2021 12:10 PM</span>                
      </div>
    </div>
  </body>
</html>
