<html>
  <head>
    <title>Blog Master</title>
    <link rel="stylesheet" href="/static/socialnetwork/profile.css" />
  </head>
  <body>
    {% include './nav.html' %}     

    <div class="back">
      <h1 id="id_page_name">Profile Page for Lebron James</h1>
      <img
        id="id_user_picture"
        src="/static/socialnetwork/my_follower.jpg"
        alt=""
        width="300"
        >
        <div id="id_user_bio">professional basketball player</div>
        <button id="id_unfollow">Submit</button>
    </div>
    
  </body>
</html>
