<html>
  <head>    
    <link rel="stylesheet" href="/static/socialnetwork/nav.css" />
  </head>
  <body>
    <div class="topnav" id="id_header_div">
      <a href="home" id="id_site_name">Blog Master</a>
      <div class="right-part">
          <a id="id_nav_profile" href="profile">{{user.first_name}} {{user.last_name}}</a>
          <a id="id_nav_global_stream" href="home">Global</a>
          <a id="id_nav_follower_stream" href="follower">Follower</a>          
          <a id="id_nav_logout" href="logout">Logout</a>                          
      </div>
    </div>          
  </body>
</html>
