html {
  box-sizing: border-box;
  background: rgb(245, 214, 214);
  font-family: Raleway, sans-serif;
}

body {
  margin: 0;
}


.back {
  padding: 5%;
  background: white;
  max-width: 70em;
  margin: 3% auto;
  box-shadow: 1em 1em 0 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

#id_post_input_text {
  width: 50%;
  height: 3rem;
  padding: 0.2em;
  margin: 0.2em 0 0.6em;
  font-size: 1.2em;
}

#id_comment_input_text_n {
  width: 30%;
  height: 2rem;
  padding: 0.2em;
  margin: 0.2em 0 0.6em;
  font-size: 1.2em;
}
input[type="submit"] {
  background: salmon;
  border: none;
  margin: 1em 0;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
}

.post {
  background: blanchedalmond;
  padding: 0.5em;
  margin: 0.5em 0;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
}

#id_post_profile_n {
  font-size: 18px;
}


#id_post_date_time_n {
  font-size: 18px;
  font-style: italic;
}

#id_post_text_n {
  font-size: 24px;
  font-family: "Times New Roman"

}

#id_comment_div_k {
  border: 2px dotted;
  padding: 0.5em;
  margin: auto;
  width: 40rem;
}


#id_comment_profile_k {
  font-size: 18px;
  font-style: italic;
}

#id_comment_text_k {
  font-size: 18px;
  font-family: "Times New Roman"
}

#id_comment_date_time_k {
  font-size: 18px;
  font-style: italic;
}

